
@media (min-width: 700px) {
    .Login {
        height: 1000px;
    }
  }
.container{
    color:black;
    
}  
.content{
    height: 70%;

}
.inter-container{
    height: 100%;
}

.btns-netw{
    background-color: rgb(255, 251, 0);
    width: 100%;
}
.screen1, .screen2{
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 10px;
    height: 80%;
    width: 40%;
    margin: auto;
    position: relative;
    top:50px;
}

#register{
    background-color: rgb(96, 255, 4);
}

.form-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;

}

.login{
    width: 100%;

}
#btn-login{
    margin: auto;
    margin-right: 40%;
}
.btns-acount{
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    width: 100%;
    color: blue;
}
h3{
    position: relative;
    top:30px;
    color:grey;
}
.row{
    margin: auto;
    width: 80%;

}
#btn-facebook{
    color:white;
    background-color: rgb(0, 81, 255);
}
#btn-google{
    color:white;
    background-color: rgb(248, 77, 77);
}
#btn-twitter{
    color: white;
    background-color: rgb(0, 195, 255);
}