.Perfil{
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2ccd3, #304352c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cccb, #30435298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 700px;
}
@media (min-width: 700px) {
    .Perfil {
        height: 1000px;
    }
  }

.perfilContainer{
    background-color: white;
    color: black;
    height: 100%;
    position: relative;
    top:60px;
}
.img-container{
    position: relative;
    top:40px;
}
img.rounded-circle{
    width: 45px;
    height: 45px;
}
.img-perfil{
    background-color: rgb(105, 105, 104);
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

label{
    text-align: left;
}
.btn-save{
    background-color: rgb(98, 211, 46);
    color:white;
    margin-left: 20px;

}
.btn-cancel{
    background-color: rgb(248, 46, 46);
    color:white;
}