.Perfil{
    width: 100%;
    background-attachment: fixed;
    background-size: cover; 
    min-height:100%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.user-content{
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    height: 700px;
}

img.rounded-circle{
    width: 45px;
    height: 45px;
}
.img-perfil{
    background-color: rgb(105, 105, 104);
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

label{
    text-align: left;
}
.btn-save{
    background-color: rgb(98, 211, 46);
    color:white;
    margin-left: 20px;

}
.btn-cancel{
    background-color: rgb(248, 46, 46);
    color:white;
}