
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    
}
.TaskPage {
    width: 100%;
    background-attachment: fixed;
    background-size: cover; 
    min-height:100%;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
@media (min-width: 700px) {
    .TaskPage {
        height: 1000px;
    }
  }
.container{
    height: 90%;
}
.row{
   padding-top: 50px;
    width: 100%;
}
