.App {
  text-align: center;
  
  
}

html{
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
nav{
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  padding: 20px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
